$primary: #abd699;
$secondary: #c4d68d;
$success: #a2dd5e;
$info: #a7e0c3;
$warning: #ffd56c;
$danger: #ff746b;
$light: #faf3e1;
$light2: #ecc369;
$dark: #2e1c00;

$accent: #c6bbff;

// $primary: #355070;
// $secondary: #8d94d6;
// $success: #a2dd5e;
// $info: #a7e0c3;
// $warning: #ffd56c;
// $danger: #e56b6f;
// $light: #f9fdfd;
// $light2: #e1ecea;
// $dark: #2c2e41;

// $accent: #c6bbff;
