@import "../node_modules/commons/styles/common.scss";

$custom-colors: (
	"light2": $light2,
	"acc": $accent,
);

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap";

.App {
	text-align: center;
	width: 100%;
	height: 100vh;
}
